@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared css */
.display-flex{
    display: flex;
}
/* bg light */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* dark 02 */
.dark-02{
    color: #424242;
}
/* dark 03 */
.dark-03{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
}
/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-links{
    gap: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-item{
    list-style: none;
}
.navbar, .banner{
    max-width: 1200px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    margin-top: 70px;
}
.banner-image{
    width: 100%;
    margin-bottom: 30px;
}

/* teams related styles */
.our-features-title-part{
    color: #FF900E;
}
.teams{
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 70px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.team-image{
    width: 100%;
}
.our-features{
    max-width: 500px;
    padding-left: 100px;
}
.our-features h3{
    font-weight: 600;
    font-size: 2.5rem;
}

/* features related section */
.features{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 70px;
    gap: 100px;
}
#feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature{
    max-width: 500px;
}
.feature-card{
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}
.feature-section-title{
    font-weight: 700;
    font-size: 2.5rem;
}
.feature-title{
    font-weight: 600;
    font-size: 1rem;
    margin: 0px;
}
.feature-architect img{
    /* max-width: 600px; */
    width: 100%;
}
#experience-badge{
    padding: 10px;
    font-weight: 600;
    font-size: 1rem;
    padding: 20px 22px;
    margin-top: -100px;
    margin-left: -50px;
}
#experience-year{
    font-weight: 700;
    font-size: 2rem;
}

/* some facts related styles */
.some-facts{
    max-width: 1200px;
    margin: 0 auto;
}
.some-facts p{
    max-width: 500px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 50px;
    margin-top: 20px;
}
.fact-card{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 10px;
    padding: 25px;
    width: 150px;
    height: 130px;
}
.fact-number{
    font-weight: 600;
    font-size: 2rem;
    margin: 0px;
    margin-top: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1rem;
    margin: 0px;
}

/* sponsor related styles */
.our-sponsors{
    max-width: 1200px;
    margin: 0 auto;
}
.sponsors-info{
    text-align: center;
}
.sponsor-title{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 5px;
}
.sponsors-info p{
    max-width: 550px;
    margin: 0 auto;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
}
.sponsor-companies img{
    filter: grayscale(100%)
}

/* footer section related styles */
.footer{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.footer p{
    padding: 20px;
    text-align: center;
}


/* device responsive area */
/* small device */
@media  screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .features
    {
        flex-direction: column;
    }
    .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        gap: 50px;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;
        place-items: center;
    }
    .some-facts{
        text-align: center;
    }
    .our-features{
        text-align: center;
        padding-left: 0;
    }
    .feature-architect img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    #experience-badge{
        display: none;
    }
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }

    .sponsor-companies, .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}